<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuiyes.theme.red">

    <!--<overlay android:targetPackage="com.shuiyes.overlaytest.target" android:priority="1"/>-->

    <application android:label="@string/app_name" android:hasCode="false"/>

</manifest>